{% extends 'quiz_bank/base.html' %}

{% block title %}Django Quiz - Category: {{ category }}{% endblock title %}

{% block styles %}
<style>
    .dashboard-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }

    .card {
        width: calc(43.33% - 20px);  /* 33.33% width with 20px gap */
        background-color: #f0f0f0;
        padding: 20px;
        box-sizing: border-box;
    }

    @media screen and (max-width: 768px) {
        /* For screens smaller than 768px, display 2 cards per row */
        .card {
            width: calc(50% - 20px);
        }
    }

    @media screen and (max-width: 480px) {
        /* For screens smaller than 480px, display 1 card per row */
        .card {
            width: 100%;
        }
    }
</style>
{% endblock styles %}

{% block content %}
<main>
    <div class="page-heading">
        <h1>TEAS Math</h1>
    <hr>
    <br>
    </div>
    
    <div class="dashboard-container">
        
        <div class="card cat-card">
            <h3>TEAS 7 Math Study Guide</h3>
            <p><a href="{% url 'all-math-guides' %}" class="btn btn-primary">Review Study Guides</a></p>
        </div>
        <div class="card cat-card">
            <h3>TEAS Math Practice Test</h3>
            <p><a href="#" class="btn btn-primary">Take Exams</a></p>
        </div>
        <div class="card cat-card">
            <h3>TEAS Math Custom Exams</h3>
            <p><a href="#" class="btn btn-primary">Create Custom Exams</a></p>
        </div>
    </div>
</main>
{% endblock content %}
