{% extends "quiz_site/base.html" %}
{% load crispy_forms_tags %}
{% block style %}
  body {
    background: linear-gradient(90deg, rgba(188,62,207,1) 0%, rgba(59,64,194,1) 50%);
    margin: 0;
    overflow-x: hidden;
  }

  .content-section {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    width: 60%;
    margin: 40px auto;
    text-align: center;
  }

  .content-section input {
    text-align: left; /* Adjust the alignment of input fields */
  }

  .btn-outline-info {
    background: linear-gradient(90deg, rgba(188,62,207,1) 0%, rgba(59,64,194,1) 50%);
    color: #fff;
    width: 60%;
    padding: 10px 20px;
    margin-top: 15px;
  }
{% endblock style %}
{% block content %}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <!-- FORM HERE -->
  </div>
{% endblock content %}
