{% extends "quiz_site/base.html" %}
{% block style %}
.main {
    margin: 0 10px; 
    text-align: center;
    margin-bottom: 100px;
}

.my_container {
    display: flex;
    gap: 20px; /* Adjust the gap between inner divs */
    /* justify-content: space-between; Remove this property */
}

.inner-div {
    border: 2px solid #ccc; /* Border color */
    border-radius: 24px;
    padding: 10px; /* Adjust the padding */
    width: calc(33% - 10px); /* Equal width for inner divs, considering the gap */
}

.inner-div i {
    font-size: 20px; /* Adjust the font size as needed */
    border: 1px solid #ffdc60;
    border-radius: 50%;
    background-color: #ffdc60;
    margin-right: 5px;
}

.inner-div .service {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed for spacing */
}

.rates {
    font-size: 48px;
}

.check-mark {
    color: green;
    font-size: 50%;
}

.subtitle {
    color: cyan;
    margin: 20px;
}

h1 {
    font-weight: bolder;
    margin: 30px;
}

.service-info {
    {% comment %} font-style: italic; {% endcomment %}
    text-align: left;
    margin-bottom: 10px;
}

.landing-page {
    {% comment %} background: #007aff; {% endcomment %}
}

/* Add this CSS code */
.position-relative img {

}

.hero-title {
    color: #007aff;
}

.hero-paragraph, .hero-button {
    margin-left: 32px; /* Adjust the value as needed */
}

.my-hero-page {
    margin-bottom: 56px;
}

{% endblock style %}
{% block content %}
<section class="py-lg-16 py-8 landing-page my-hero-page">
    <!-- container -->
   <div class="container">
      <!-- row -->
     <div class="row align-items-center">
        <!-- col -->
       <div class="col-lg-6 mb-6 mb-lg-0">
         <div class="">
              <!-- heading -->
           <h1 class="display-3 fw-bold mb-3 hero-title">Most trusted TEAS 7, HESI A2 & Nursing test prep with a guaranteed pass of 90%</h1>
            <!-- para -->
           <p class="pe-lg-10 mb-5 hero-paragraph">Money-back guarantee if you use our service and fail the actual exam. Option of a personalized live tutor on your area of weakness.</p>
              <!-- btn -->
           <a href="#" class="btn btn-primary hero-button">Sign Up & Get Started</a>
         </div>
       </div>
        <!-- col -->
       <div class="col-lg-6 d-flex justify-content-center">
          <!-- images -->
        <div class="position-relative">
         <img src="https://images.halloweencostumes.com/media/13/nurse/child-nurse-costume.jpg" alt="" class=" ">
         <img src="https://images.halloweencostumes.com/media/13/nurse/child-nurse-costume.jpg" alt="" class=" position-absolute end-0 bottom-0">
         <img src="https://images.halloweencostumes.com/media/13/nurse/child-nurse-costume.jpg" alt="" class=" position-absolute top-0 ms-lg-n10 ms-n19">
         <img src="https://images.halloweencostumes.com/media/13/nurse/child-nurse-costume.jpg" alt="" class=" position-absolute bottom-0 start-0 ms-lg-n14 ms-n6 mb-n7">
         <img src="https://images.halloweencostumes.com/media/13/nurse/child-nurse-costume.jpg" alt="" class=" position-absolute bottom-0 mb-10 ms-n10 ms-lg-n1 ">
         <img src="https://images.halloweencostumes.com/media/13/nurse/child-nurse-costume.jpg" alt="" class=" position-absolute top-0  start-0 mt-18 ms-lg-n19 ms-n8">
         <img src="https://images.halloweencostumes.com/media/13/nurse/child-nurse-costume.jpg" alt="" class=" position-absolute top-0  start-0 ms-lg-n14 ms-n5">

        </div>
       </div>
     </div>
   </div>
 </section>
    <div class="main-container">
        <div class="main">
            <h1>Sign Up In Minutes. Try Naxlex Nursing Risk-Free.</h1>
            <div class="my_container">
                {% for risk in risks %}
                <div class="inner-div">
                    <h2>{{ risk.position }}</h2>
                    {{ risk.icon|safe }}
                    <h3>{{ risk.risk_description }}</h3>
                </div>
                {% endfor %}
            </div>
    
    
        </div>
    
        <div class="main">
            <h1>Our Premium Teas 7 & Hesi A2 & Nursing Packages.</h1>
            <h3 class="subtitle">This is not a subscription. Its one time payment!</h3>
            <div class="my_container">
                {% comment %} {% for package in packages %}
                <div class="inner-div">
                    <h3>{{ package.package_name }}</h3>
                    <hr/>
                    <h4><b><span class="rates">${{package.rate}}</span></b>/{{package.days}} - Day Access</h4>
                    <p class="service"><i class="bi bi-check"></i><span class="service-info">{{package.services.service_1}}</span></p>
                    <p class="service"><i class="bi bi-check"></i><span class="service-info">{{package.services.service_2}}</span></p>
                    <p class="service"><i class="bi bi-check"></i><span class="service-info">{{package.services.service_2}}</span></p>
                    <p class="service"><i class="bi bi-check"></i><span class="service-info">{{package.services.service_3}}</span></p>
                    <p class="service"><i class="bi bi-check"></i><span class="service-info">{{package.services.service_4}}</span></p>
                    <p class="service"><i class="bi bi-check"></i><span class="service-info">{{package.services.service_5}}</span></p>
                </div>
                {% endfor %} {% endcomment %}
                {% for package in packages %}
                <div class="inner-div">
                    <h3>{{ package.package_name }}</h3>
                    <hr/>
                    <h4><b><span class="rates">${{ package.rate }}</span></b>/{{ package.days }} - Day Access</h4>
                    
                    {% for service in package.services.all %}
                        <p class="service"><i class="bi bi-check"></i><span class="service-info">{{ service.description }}</span></p>
                    {% endfor %}
                    
                </div>
            {% endfor %}

            </div>
        </div>
    </div>
{% endblock content %}
