<!DOCTYPE html>
<html>
    {% load custom_filters %}

<head>
    {% if title %}
        <title>Django Quiz - {{ title }}</title>
    {% else %}
        <title>Django Quiz</title>
    {% endif %}
    <style>
        .answer-section {
            display: none;
        }

        .site-btn {
            padding: 10px 20px;
            font-size: 16px;
            background-color: blue;
            color: white;
            text-decoration: none;
            border: 2px solid white;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

        .site-btn a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <button class="site-btn"><a href="{% url 'quiz-home' %}">Back to Site</a></button>
    <form>
        {% for question in questions %}
        <h1>{{ forloop.counter }}. {{ question.question_text }}</h1>
        <div class="options">
            <input type="radio" name="{{ question.question_text }}" value="{{ question.option_a }}">
            A. {{ question.option_a }}<br>
            <input type="radio" name="{{ question.question_text }}" value="{{ question.option_b }}">
            B. {{ question.option_b }}<br>
            <input type="radio" name="{{ question.question_text }}" value="{{ question.option_c }}">
            C. {{ question.option_c }}<br>
            <input type="radio" name="{{ question.question_text }}" value="{{ question.option_d }}">
            D. {{ question.option_d }}<br>
        </div>
        <button type="button" class="toggle-answer">Show Answer</button>
        <div class="answer-section">
            <i>
                <p>Correct Answer is: <b>{{ question.correct_answer }}</b></p>
            </i>
            <h4>Explanation:</h4>
            <p>{{ question.explanation }}</p>
        </div>
        {% endfor %}
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggleButtons = document.querySelectorAll('.toggle-answer');
            toggleButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const answerSection = this.nextElementSibling;
                    answerSection.style.display = answerSection.style.display === 'none' ? 'block' : 'none';
                    this.innerText = answerSection.style.display === 'none' ? 'Show Answer' : 'Hide Answer';
                });
            });
        });
    </script>
</body>

</html>
